#control_panel {
    background-color: darkgray;
    display: grid;
    float: inline-start;
    height: 300px;
    width: 200px;
    position: absolute;
}

#content {
    
    width: min-content;
    margin-left: 15%;
}

input {
    width: 100px;
    height: 25px;
}

label {
    height: 25px;
}