#control_panel {
    background-color: darkgray;
    display: grid;
    float: inline-start;
    height: 300px;
    width: 200px;
    position: absolute;
}

#control_panel:first-child {
    padding-top: 5px;
}

#content {
    
    width: min-content;
    margin-left: 15%;
}

label, input {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

input {
    width: auto;
    height: 20px;
}

label {
    height: 25px;
}